{#
/**
 * @file
 * Theme override to display a block.
 */
#}
<div{{ attributes.addClass('uib-block mb-4') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('text-xl font-bold mb-2') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
